Diagnostics:
  ClangTidy:
    Add: []
    Remove: ['*']

CompileFlags:
  Add: [
    -x, c,
    -std=c17,
    --target=riscv64-unknown-elf,
    -Wall,
    -Wextra,
    -ffreestanding,
    -nostdlib,
    -nostdinc,
    -fno-builtin
  ]
  Remove: [-x, c++]
