Diagnostics:
  ClangTidy:
    Add: []
    Remove: ['*']

CompileFlags:
  Add: [
    -x, c,
    --target=riscv64-freestanding-none,
    -std=c17,
    -Wall,
    -Wextra,
    -Weverything,
    -Wno-unsafe-buffer-usage,
    -Wno-unused-macros,
    -Wno-pre-c11-compat,
    -pedantic,
    -Wc11-extensions,
    -fno-gnu89-inline,
    -Wc11-extensions,
    -fno-stack-protector,
    -ffreestanding,
    -mcmodel=medany,
    -fno-pie,
    -fno-pic
  ]
  Remove: [-x, c++]
